# === Maven ===
/target/*.*
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# === Eclipse ===
.classpath
.project
.settings/
bin/

# === VS Code ===
.vscode/

# === Logs ===
*.log

# === Compiled class files ===
*.class